.login-container{
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container p{
  font-size: 1.5rem;
}

.content{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

p.warning{
  font-size: 1.5rem;
  font-weight: 100;
}
