.register-form{
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  padding-top: 3em;
  padding-bottom: 3em;
}

.register-form h2{
  color:#EEE;
  font-size: 1.8em;
}

 .register-form p{
   color: #EEE;
 }

.register-form input {
   padding: 0.4em 1.2em;
   margin: 0.5em 0;
   box-sizing: border-box;
   border-radius: 0.3125em;
   -webkit-transition: 0.5s;
   transition: 0.5s;
   outline: none;
   color: #0b0704;
   width:100%;
   margin-bottom: 0.8em;
   filter: none;
 }

 .register-form select {
    padding: 0.4em 1.2em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border-radius: 0.3125em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: #0b0704;
    width:100%;
    margin-bottom: 0.8em;
    filter: none;
  }

 .register-form input:focus {
   border: 0.1875em solid #ddd;
 }

 .register-form label{
   color:#EEEEEE;
   margin-bottom: 0em;
 }

 .register-form input[type=submit] {
   padding: 0.8em 1.5em 0.8em 1.5em;
   color: #FFFFFF;
   background-color: #0b0704;
   border-radius: 0.25em;
   border: 0.16em solid #FFFFFF;
   width: 7em;
 }

 .register-form input[type=checkbox] {
   width: auto;
   padding: auto;
   margin:auto;
 }

 .register-form small{
   color:#EEEEEE;
 }

 .logo-form{
   padding-bottom: 2em;
 }

 form
 {
     display: block;
     text-align: center;
 }

div.register{
  display: inline-block;
  text-align: left;
  width: 45%;
}
